@model Supplies_Outcome
@{
    ViewData["Title"] = "Delete";
    var Role = TempData["Role"] as string;
    var USSN = TempData["SSN"] as string;
    var Uname = TempData["FullName"] as string;
}
<h1>حذف توريد</h1>
<br />
<form asp-action="Delete">
    <div hidden>
        <input readonly asp-for="SO_ID" class="form-control" />
    </div>
    <div class="form-group">
        <label class="col-form-label">اسم المهندس</label>
        <input type="text" readonly value="@Uname" class="form-control" />
        <input type="text" asp-for="SSN" hidden readonly value="@USSN" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Type" class="col-form-label">نوع التوريد</label>
        <input readonly asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="col-form-label">الكميه</label>
        <input readonly asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountPrice" class="col-form-label">سعر الوحده</label>
        <input readonly asp-for="CountPrice" class="form-control" />
        <span asp-validation-for="CountPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="TotalPrice" class="col-form-label">السعر الاجمالي</label>
        <input type="text" asp-for="Price" readonly id="TotalPrice" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PriceType" class="col-form-label">نوع الوحده</label>
        <input readonly asp-for="PriceType" class="form-control" />
        <span asp-validation-for="PriceType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfAdding" class="col-form-label">تاريخ الاضافه</label>
        <input readonly asp-for="DateOfAdding" class="form-control" />
        <span asp-validation-for="DateOfAdding" class="text-danger"></span>
    </div>
    <br />
    <input type="submit" value="حذف" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-info">عوده الي القائمه</a>
</form>

