
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>تفقد بريدك الالكتروني</h1>
<div class="main-agileinfo">
	<div class="text-center h4 text-danger" asp-validation-summary="All">
	</div>
	<div class="agileits-top">
		<div>
			<p>
				 تم ارسال رابط اعادة تعيين الرقم السري يرجي تفقد البريد الالكتروني
			</p>
		</div>
		<div>
			<a href="https://mail.google.com/" target="_blank" class="text-decoration"> البريد الالكتروني <i class="fas fa-inbox"></i></a>
		</div>
	</div>
</div>
