@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>نسيت الرقم السري</h1>
<div class="main-agileinfo">
	<div class="text-center h4 text-danger" asp-validation-summary="All">
	</div>
	<div class="agileits-top">
		<form asp-action="SendResetPasswordUrl">
			<input class="text email" type="email" asp-for="Email" placeholder="البريد الالكتروني" required="">
			<input type="submit" value="اعادة الرقم السري">
		</form>
		<p> ليك حساب ؟ <a asp-action="LogIn" class="text-decoration"> تسجيل دخول </a></p>
	</div>
</div>

