@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<h1>ResetPassword</h1>
<div class="main-agileinfo">
	<div class="text-center h4 text-danger" asp-validation-summary="All">
	</div>
	<div class="agileits-top">
		<form asp-action="ResetPassword">
			<input class="text" type="password" asp-for="Password" placeholder="الرقم السري" required="">
			<input class="text w3lpass" type="password" asp-for="ConfirmPassword" placeholder="تأكيد الرقم السري" required="">
			<input type="submit" value="تغيير الرقم السري">
		</form>
	</div>
</div>