@model Supplies_Income
@{
    var users = new SelectList(ViewData["D1"] as IEnumerable<Users>, "SSN", "FullName");
    var importers = new SelectList(ViewData["D2"] as IEnumerable<Importers>, "Name", "Name");
    ViewData["Title"] = "Update Supplies Income";
    var Role = TempData["Role"] as string;
    var USSN = TempData["SSN"] as string;
    var Uname = TempData["FullName"] as string;
}
<h1>Update Supplies Income</h1>
<br />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <div hidden>
        <input readonly asp-for="SI_ID" class="form-control" />
        <input readonly asp-for="SSN" class="form-control" />
    </div>
    <div class="form-group">
        <label class="col-form-label">اسم الموظف</label>
        <input type="text" readonly value="@Uname" class="form-control" />
        <input type="text" asp-for="SSN" hidden readonly value="@USSN" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Value" class="col-form-label">المبلغ</label>
        <input asp-for="Value" class="form-control" />
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Type" class="col-form-label">نوع التوريد</label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Importer" class="col-form-label">المورد</label>
        <select asp-for="Importer" asp-items="importers" class="form-control">
            <option value="@null">-----Select Importer-----</option>
        </select>
        <span asp-validation-for="Importer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Engineer" class="col-form-label">اسم المهندس</label>
        <select asp-for="SSN" asp-items="users" class="form-control">
            <option value="@null">-----Select Engineer-----</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="DateOfAdding" class="col-form-label">تاريخ التوريد</label>
        <input asp-for="DateOfAdding" type="date" class="form-control" />
        <span asp-validation-for="DateOfAdding" class="text-danger"></span>
    </div>
    <br />
    <input type="submit" value="تعديل" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-info">عوده الي القائمه</a>
</form>

